trunk/dotNet/MyLiveMesh/trunk/MyLiveMesh/Service References/UserDirectoryServiceReference/UserDirectory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:54164/Services/UserDirectory.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:54164/Services/UserDirectory.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54164/Services/UserDirectory.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54164/Services/UserDirectory.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common.BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserDirectory_CreateDirectoryOnServer_InputMessage">
    <wsdl:part name="parameters" element="CreateDirectoryOnServer" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_CreateDirectoryOnServer_OutputMessage">
    <wsdl:part name="parameters" element="CreateDirectoryOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_getDirectoryTreeFromPath_InputMessage">
    <wsdl:part name="parameters" element="getDirectoryTreeFromPath" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_getDirectoryTreeFromPath_OutputMessage">
    <wsdl:part name="parameters" element="getDirectoryTreeFromPathResponse" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_getFilesFromPath_InputMessage">
    <wsdl:part name="parameters" element="getFilesFromPath" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_getFilesFromPath_OutputMessage">
    <wsdl:part name="parameters" element="getFilesFromPathResponse" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_ShareFolder_InputMessage">
    <wsdl:part name="parameters" element="ShareFolder" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_ShareFolder_OutputMessage">
    <wsdl:part name="parameters" element="ShareFolderResponse" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_GetSharedFolders_InputMessage">
    <wsdl:part name="parameters" element="GetSharedFolders" />
  </wsdl:message>
  <wsdl:message name="UserDirectory_GetSharedFolders_OutputMessage">
    <wsdl:part name="parameters" element="GetSharedFoldersResponse" />
  </wsdl:message>
  <wsdl:portType name="UserDirectory">
    <wsdl:operation name="CreateDirectoryOnServer">
      <wsdl:input wsaw:Action="urn:UserDirectory/CreateDirectoryOnServer" message="UserDirectory_CreateDirectoryOnServer_InputMessage" />
      <wsdl:output wsaw:Action="urn:UserDirectory/CreateDirectoryOnServerResponse" message="UserDirectory_CreateDirectoryOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDirectoryTreeFromPath">
      <wsdl:input wsaw:Action="urn:UserDirectory/getDirectoryTreeFromPath" message="UserDirectory_getDirectoryTreeFromPath_InputMessage" />
      <wsdl:output wsaw:Action="urn:UserDirectory/getDirectoryTreeFromPathResponse" message="UserDirectory_getDirectoryTreeFromPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFilesFromPath">
      <wsdl:input wsaw:Action="urn:UserDirectory/getFilesFromPath" message="UserDirectory_getFilesFromPath_InputMessage" />
      <wsdl:output wsaw:Action="urn:UserDirectory/getFilesFromPathResponse" message="UserDirectory_getFilesFromPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShareFolder">
      <wsdl:input wsaw:Action="urn:UserDirectory/ShareFolder" message="UserDirectory_ShareFolder_InputMessage" />
      <wsdl:output wsaw:Action="urn:UserDirectory/ShareFolderResponse" message="UserDirectory_ShareFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSharedFolders">
      <wsdl:input wsaw:Action="urn:UserDirectory/GetSharedFolders" message="UserDirectory_GetSharedFolders_InputMessage" />
      <wsdl:output wsaw:Action="urn:UserDirectory/GetSharedFoldersResponse" message="UserDirectory_GetSharedFolders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>