trunk/dotNet/MyLiveMesh/trunk/MyLiveMesh/Service References/AccountServiceReference/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54164/Services/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.BusinessObjects" />
  <xs:element name="Authentify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.BusinessObjects" minOccurs="0" name="AuthentifyResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.BusinessObjects" minOccurs="0" name="CreateAccountResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>